*{
	margin: 0; padding: 0; box-sizing: border-box; font-family: arial sans-seriff;
}
nav .x{
	background-color: yellow;
	color: black;
	padding: 2px 10px;
}
.active{
	background-color: yellow;
font-weight: 700;
}

.navbar-toggler{
	box-shadow: 0px 0px 5px 5px white;
} 

.navbar-brand{
	font-size: 32px;
	font-weight: 700;
	color: black;}

.gym{
	letter-spacing: 6px;
}
.rock{
	margin-top: 74px;
	padding: 0 0px;
	position: relative;
	background-color: black;
}
.head_img {
	position: relative;
}
.main_topic{
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.main_topic h2{
	font-size: 38px;
	color:white;
	font-weight: bold;
	background-color: rgba(0,0,0,0.5);
	word-spacing: 12px;
	letter-spacing: 2px;
}
.main_topic .btn{
	background-color: rgba(0,0,0,0.5);
	color: white;
	font-weight: bold;
	font-family: calibri;
	border-radius: 0;
	border: 2px solid white;
}
.footer {
	color: white;
	background-color: black !important;
}
.main_content{
	background-color: #f5f0fa;
}
@media screen and (max-width: 586px){
	.head_img img{
		height: 320px;
	}
}